.img-hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: z-index 0s, left 0.5s ease;
    transition-delay: 05.s, 0.5s;
    animation: img 500ms 1 ease;
}

.img-hover:hover{
    left: 0px;
    z-index: 12;
    transition:  z-index 0s;
    transition-delay: 0.5s;
    animation: imgHover 500ms 1 ease;
}

@keyframes img {
    0%{
        left: 0;
        z-index: 15;
    }50%{
        left: -100px;
    }100%{
        left: 0;
    }
}

@keyframes imgHover {
    0%{
        left: 0;
    }50%{
        left: -100px;
        z-index: 15;
    }100%{
        left: 0;
        z-index: 15;
    }
}